{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Lab 04: Library</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'lab_01_polls/style.css' %}">

</head>

<body>
    <div class="main">

        <h1 class="title">Lab 04: Library</h1>
        <div class="container">


            <table class="striped">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Publish Date</th>
                        <th>Author Name</th>
                        <th>Checked out?</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{book.title}}</td>
                        <td>{{book.publish_date}}</td>
                        <td>{{book.author}}</td>
                        {% if book.checked_out %}
                        <td>Yes</td>
                        <td><button class="btn disabled">Check out</button></td>
                        {% else %}
                        <td>No</td>
                        <td>
                            <form action="{% url 'lab_04_library:checkout' book.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="book_checkout_id" value="{{book.id}}">
                                <button class="btn">Check out</button>
                            </form>
                        </td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>