<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Todo App</title>

    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
      html {
        background-color:lemonchiffon;
      }
      body {
        max-width:600px;
        min-height:100vh;
        margin: 0 auto;
        background-color:white;

      }
      main {
        padding: 0 20px;
      }
      .brand-logo {
        margin-left:10px;
      }
      footer {
        text-align:center;
        padding:20px;
      }
    </style>
  </head>
  <body>
    <nav class="light-blue lighten-2">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo"><i class="material-icons">ac_unit</i>Todo App</a>
        <ul id="nav-mobile" class="right hide-on-small-and-down">
          <li><a href="/admin/">Admin</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger right hide-on-med-and-up"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <ul id="slide-out" class="sidenav">
      <li><a href="/admin/">Admin</a></li>
    </ul>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer class="page-footer light-blue lighten-2">
      © 2019 HBAM Inc
    </footer>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
          var elems_sidenav = document.querySelectorAll('.sidenav')
          var instances_sidenav = M.Sidenav.init(elems_sidenav, {
              fullWidth: true,
              indicators: true})
      })
    </script>
  </body>
</html>
