{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Nicole's Django Labs</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'lab_01_polls/style.css' %}">
</head>

<body>
    <h1>Links</h1>
    <ul>
        <li><a href="{% url 'lab_00_todo:index' %}">Lab 00: To Do</a></li>
        <li><a href="{% url 'lab_01_polls:index' %}">Lab 01: Polls</a></li>
        <li><a href="{% url 'lab_02_contacts:index' %}">Lab 02: Contacts</a></li>
        <li><a href="{% url 'lab_03_urlshort:index' %}">Lab 03: URL Shortener</a></li>
        <li><a href="{% url 'lab_04_library:index' %}">Lab 04: Library</a></li>
    </ul>
</body>

</html>