body {
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}