
body {
    margin: 5% 0 5% 0;
    background: rgb(181, 181, 181);
    font-family: 'Raleway', sans-serif;
}

div.main {
    align-content: center;
    background: white;
    padding: 50px 100px 50px 100px;
    margin: 50px 0 50px 0 ;
}

div.footer {
    background: none;
    text-align: center;
    font-size: 10px;
}

h1 {
    font-size: 42px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    margin-top: 40px;
}
p {
    font-size: 16px;
    line-height: 30px;
}

p a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(5, 161, 171);
}

p.italics {
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

p.small {
    font-size: 12px;
}

ul li {
    margin-top: 10px;
    list-style-image: url(paw.png);
}

img.bio {
    float: right;
    padding: 10px;
    width: 30%; 
    margin: 0 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

blockquote {
    font-style: italic;
    background: gray;
    padding: 25px;
    color: white;
    border-radius: 20px 0 20px 0;
    text-align: center;
    margin: 70px 10px -75px 10px;
    float: none;
}

hr { 
  margin: 50px 0 50px 0;
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

.firstcharacter {
  color: rgb(5, 161, 171);
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  /* padding-top: 4px; */
  padding-right: 8px;
  /* padding-left: 3px; */
}