.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#div_quote {
    font-size: 32px;
    margin: 50px 100px 0 100px;
    text-align: center;
}

#div_quote::before, #div_quote::after {
    content: '"';
    font-family: 'Crimson Text', serif;
    font-size: 40px;
    margin: 0 5px;
}

#div_author {
    font-style: italic;
    margin: 30px;
}

#div_author::before, #div_author::after {
    content: '   —   ';
}