.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.main_question, #question_area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#answer_label {
  color: black;
  margin-bottom: 15px;
  display: block;
}

.btn {
  margin: 10px;
}

#question {
  font-size: 30px;
  margin: 25px;
}

.main_rows {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}