
html, body {
    font-size: 18px;
    padding: 0;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main_output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

textarea {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    margin: 30px 0;
    pointer-events: none;
}

#input_number {
    text-align: center;
}

#alert_copy {
    text-align: center;
    min-height: 50px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
}

#password_output {
    font-family: 'Space Mono', monospace;
    font-size: 32px;
}

button {
    margin: 10px;
}