body {
  background-color: tan;
  /* margin: 0 5px 0 5px; */
  margin:0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  font-family: 'Mansalva';
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  text-align: center;
  flex-wrap:wrap;
  flex: 1 0 auto;
}

header {
    font-size:40px;
    text-align:center;
    /* padding:20px; */
    font-family: 'Mansalva';
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    font-size: 40px;
    text-align: center;
    flex-wrap:wrap;
  }

  #btn_password {
    background-color: #305252;
    font-size:40px;
    margin:20px;
    font-family: inherit;
    width: 100px;
    height: 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    font-size: 40px;
    text-align: center !important;
    flex-wrap:wrap;
    cursor:pointer;
  }

  #btn_password:hover {
    text-shadow:
     -2px -2px 0 #2d3030,
      2px -2px 0 #2d3030,
      -2px 2px 0 #2d3030,
       2px 2px 0 #2d3030;
  }
  #btn_password:active {
    transform:translateY(4px);
  }

  #div_answer_header {
    color: #7a8080;
    text-shadow:
     -0px -0px 0 #2d3030,
      2px -2px 0 #2d3030,
      -0px 0px 0 #2d3030,
       2px 2px 0 #2d3030;
  }

  .page-footer {
    background-color: black;
    display: flex;
    max-height: 50vh;
    width:100%;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 10px;
  }
